<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testgooglelogin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.timphongtro.update_profile.UpdateProfileActivity"></activity>
        <activity android:name="com.example.timphongtro.chat.ChatActivity" />
        <activity
            android:name="com.example.timphongtro.login_register_logout.LoginActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.timphongtro.main.MainActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="com.example.timphongtro.login_register_logout.RegisterActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name="com.example.timphongtro.room.InfoRoom" />
        <activity android:name="com.example.timphongtro.login_register_logout.LoginPhoneActivity" />
        <activity android:name="com.example.timphongtro.profile.UpdateProfileActivity" />
        <activity android:name="com.example.timphongtro.profile.EditProfileActivity" />
        <activity
            android:name="com.example.timphongtro.roommate.InfoRoommate"
            android:theme="@style/AppTheme.FullScreen" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
    </application>

</manifest>